<div id="controls">
    <a href="/petition/edit"><button type="button" name="button">Edit data</button></a>
    <a href="/petition/signers"><button type="button" name="button">All signers</button></a>
    <a href="/logout"><button type="button" name="button">Log out</button></a>
</div>
