<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>Petition</title>
    </head>
    <body>
        <header>
            <h1>Welcome!</h1>
            <h2>to my petition against using plastic straws</h2>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
    <footer></footer>
</html>
