<div class="page">
    <div class="desc">
        <p>Let me know a bit more about yourself! I'd be grateful if you could fill this form.
        Not obligatory though.</p>

    </div>
<div id="info-block">
    <form id="info-form" method="POST">
        <!-- show me the name -->
        <h4><em>{{first}} {{last}}</em></h4><p>please share with us:</p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="homepage" placeholder="Homepage">

        <button>Continue</button>
    </form>
</div>
</div>
