<div class="page">
    <div class="desc">
        <h4><em>{{first}} {{last}}</em></h4>
        <p>Let me know a bit more about yourself! </p>
        <p><span class="notice-msg">Not obligatory though</span></p>
    </div>
<div id="info-block">
    <form id="info-form" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="number" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City" value="{{city}}">
        <input type="text" name="homepage" placeholder="Homepage">
        <button>Continue</button>
    </form>
</div>
</div>
