
<div class="page">
    <div id="sign-block">
        <div class="error-msg"><p>{{error}}</p></div>

        <form id="login-form" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Log in</button>
        </form>
        <p>If you don't have an account yet, <a href="/register">register</a></p>
    </div>
</div>
