
<div class="page">

    <div id="sign-block">

        {{> error}}
        <p style="color:red;font-size:20px">{{error}}</p>
        <form id="login-form" method="POST">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <button>Log in</button>

        </form>

    </div>

</div>
