
<div id="petition-page">
    <div id="petition-msg">
        <h3>Strawbery fields forever and no more plastic!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
    </div>
    <div id="sign-block">

        <form method="POST">
            <input type="text" name="first" placeholder="First name">
            <input type="text" name="last" placeholder="Last name">
            <input type="hidden" id="input-canvas" name="sign">
            <p class="notice">Please sign bellow:</p>
            <canvas id="canvas" width ="300" height="100"></canvas>

            <button id="sign">Sign</button>
        </form>
        <div class="error-msg">
        <p>Please input data fully: First Name, Last Name and Signature</p>
        </div>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
<script type="text/javascript" src="client.js"></script>
