
<div class="page">
    <div id="petition-msg">
        <h4><ul>
            <li>Location of our devices is being tracked and we are not in control of it.
            <li>Location is being shared with growing number of external services and we do not even know.
            <li>It is kept in secret how the underlying technologies work and what can be inferred from an individual’s location,
            especially if recorded over longer periods of time.
        </ul></h4>

        <p><em>For more information:
        </br>
        <a href="http://grantmckenzie.com/academics/GeoprivacyManifesto2017.pdf" alt="geoprivacy manifesto">GEOPRIVACY MANIFESTO </a></em><p>
    </div>

    <div id="sign-block">
        <div class="error-msg"></div>
        <form id="sign-form" method="POST">
            <h4><em>{{first}} {{last}}</em></h4>
            <p class="notice-msg">please sign bellow:</p>
            <input type="hidden" name="sign" id="input-canvas" >
            <canvas id="canvas" width ="300" height="100"></canvas>
            <button type="submit" id="sign-canvas">Sign</button>
            <button type="reset" id="clear-canvas">Clear</button>
        </form>
    </div>


</div>
