
<div class="page" id="start-page">

    <div id="petition-msg">
        <h4><ul>
            <li>Location of our devices is being tracked and we are not in control of it.
        </ul></h4>
        <h3><em>Let's call for more transparency in geoprivacy!!!</em></h3>
        <p><em>Register and learn more or check the<a target="_blank"  href="http://grantmckenzie.com/academics/GeoprivacyManifesto2017.pdf" alt="geoprivacy manifesto"> GEOPRIVACY MANIFESTO </a></em></br>
            and come back<p>
    </div>
    <div id="sign-block">
        <div class="error-msg">

        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
        </div>

        <form id="register-form" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="text" name="first" placeholder="First name">
            <input type="text" name="last" placeholder="Last name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button>Register</button>
        </form>

        <p>If you already have an account, <a href="/login">get in</a></p>
    </div>

</div>
<script type="text/javascript" src="map.js"></script>
