
<div class="page" id="start-page">

    <div id="petition-msg">
        <h4><ul>
            <li>Location of our devices is being tracked and we are not in control of it.
            <li>Location is being shared with growing number of external services and we do not even know.
            <li>It is kept in secret how the underlying technologies work and what can be inferred from an individual’s location,
            especially if recorded over longer periods of time.
        </ul></h4>
        <h3><em>Let'c call for more transparency in geoprivacy!!!</em></h3>
        <p><em>For more information check <a href="http://grantmckenzie.com/academics/GeoprivacyManifesto2017.pdf" alt="geoprivacy manifesto"> GEOPRIVACY MANIFESTO </a></em><p>
    </div>
    <div id="sign-block">
        {{> error}}
        <form id="register-form" method="POST">
            <input type="text" name="first" placeholder="First name">
            <input type="text" name="last" placeholder="Last name">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">

            <button>Register</button>
            <p>If you already have an account, please
            <a href="/login">Log in</a></p>
        </form>
    </div>

</div>
<script type="text/javascript" src="map.js"></script>
