<h3>Check the signatures on board! <strong>{{data.length}}</strong> and counting </h3>
<div id="signees-page">
    <ul>
        {{#each data}}
        <li>
                {{first}} {{last}}
        </li>
        {{/each}}
    </ul>
</div>
