
<div class="page">
    <h3>Thank you so much for support and contribution</h3>
    <h3>I'm glad, you have joined the crowd!</h3>

    <div class="signature">
        <img src="{{signature}}" alt="your_signature_image">

    </div>


    <h3 class="notice"> <a href="signers">Check who else is in</a></h3>
    <h3 class="notice"> <a href="edit">Here you ca edit your data</a></h3>

    <form method="POST">
        <h3 class="notice">
            <a type="submit" href="/cancelPetition">
            If you no longer believe in, delete your signature
            </a>
        </h3>
    </form>


</div>
