
<div id="thanks-page">
    <h3>Thank you so much for support and contribution</h3>
    <h3>I'm glad, you have joined the crowd!</h3>
    <h3 class="notice"> <a href="/signees">Check who else is in</a></h3>


</div>
