{{> controls}}

<div class="page">
    <h3>Thank you so much for support and contribution</h3>
    <h4>I'm glad, you have joined the crowd!</h4>

    <div class="signature">
        <img src="{{signature}}" alt="your_signature_image">
    </div>

    <form method="POST">
        <p class="notice">
            <a type="submit" href="/cancelPetition">
            If you no longer believe in, you can delete your signature
            </a>
        </p>
    </form>

</div>
