html {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #003333;
    height: calc(100% - 250px);
    height: -o-calc(100% - 65px); /* opera */
    height: -webkit-calc(100% - 65px); /* google, safari*/
    height: -moz-calc(100% - 65px); /* firefox */
}

a {
    color: inherit;
}

a:visited {
    text-decoration: inherit;
}

header {
    position: relative;
    padding: 25px;
    background-color: orange;
    text-align: center;
    color: white;
}

h1 {
    font-size: 5vw;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
h2 {
    font-size: 3.5vw;

    margin: 0;
    margin-top: 10px;
    padding: 0;
}

/* header > h1 {
    margin-top: 0;
    padding-top: 50px;
} */

/* custom for each handlebar */
main {
    position: relative;
    text-align: center;
    min-height: 90%;
    /* background-color: #f5f5dc; */
}

#map {
    z-index: -1;
}

#main-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(255, 0, 0, 0),
        rgba(245, 245, 220, 0.8),
        rgba(245, 245, 220, 1)
    );
}

.page {
    position: relative;
    width: 70%;
    margin: auto;
}
#petition-msg {
}
.notice-msg {
    color: grey;
    font-style: italic;
}
.error-msg {
    color: red;
    font-style: italic;
}
#sign-block {
    position: relative;
    margin: auto;
    padding: 10px;
}

form {
    text-align: center;
    margin: auto;
}
input {
    display: block;
    margin: 10px auto;
    width: 25%;
    min-width: 200px;
    height: 30px;
    border-radius: 3px;
    padding: 0 10px;
    box-shadow: 0 0 2px #003333;
    font-size: 16px;
}

input:hover {
    cursor: text;
    box-shadow: none;
}

#canvas {
    background-color: white;
    display: block;
    margin: 20px auto;
    /* width: 50%;
    min-width: 200px;
    height: 100px; */
    box-shadow: 0 0 2px #003333;
}

#canvas:hover {
    cursor: text;
    box-shadow: none;
}

button {
    display: inline-block;
    margin: 20px auto;
    background-color: #ffd27f;
    height: 30px;
    border-radius: 3px;
    border: 1px solid grey;
    width: 80px;
    font-size: 16px;
    box-shadow: 0 0 2px #003333;
}

button:hover {
    cursor: pointer;
    background-color: orange;
    box-shadow: none;
}

button a {
    text-decoration: none;
}

/* #edit-form button,
#sign-form button {
    display: inline-block;
} */

img {
    background-color: white;
}

ul {
    list-style: none;
    font-style: italic;
    font-size: 16px;
    padding: 0;
}
li {
    margin: 4px 0;
    padding-top: 10px;
}
.signees li {
    text-transform: capitalize;
}

/* footer {
    position: absolute;
    top: 0;
    height: 300px;
} */

@media (max-width: 500px) {
    .page {
        margin-top: 30px;
    }
    header {
        padding: 10px;
    }

    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        margin: 10px 0;
        font-size: 16px;
    }
    .page {
        width: 80%;
    }
    p {
        font-size: 13px;
        margin: 10px 0;
    }

    input {
        margin: 6px auto;
        width: 80%;
        height: 30px;
        padding: 0 6px;
        font-size: 14px;
    }

    button {
        margin: 10px auto;
        height: 20px;
        width: 80px;
        font-size: 14px;
    }

    #canvas {
        background-color: white;
        display: block;
        margin: 20px auto;
        box-shadow: 0 0 2px #003333;
    }

    ul {
        font-size: 14px;
    }
    li {
        margin: 4px 0;
    }
    #main-wrapper {
        background: linear-gradient(
            to top,
            rgba(255, 0, 0, 0),
            rgba(245, 245, 220, 0.4),
            rgba(245, 245, 220, 1)
        );
    }
}
